.image-height {
  object-fit: contain;
  height: 250px;
}
.image-width{
  width: 250px;
}

.card{
  min-height: 500px;
  transform: scale
}
.frontcard:hover{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
  transform: scale(1.05);
}

.float-right {
  cursor: pointer;
}
.catalog{
  cursor: pointer;
}
